<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
    	<h3>Micropost Feed</h3>
    	<%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
	<h1>Duke Neurocare</h1>
</div>

	<p>Hello, and welcome to Duke NeuroCare!</p>

	<p>Be sure to sign up for news and updates: <%= link_to "Sign up now!", signup_path, class: "btn btn-small btn-primary" %> </p>

<p>We are a group of students passionate about science and service. We aim to fuse neuroscience with service to those in need. Our approach is three-pronged: awareness, advocacy, and action. NeuroCare works to educate the Duke student body and local community about neurological disorders and their prevention, advocate for legislative support and research for potential cures, and interact with those affected by neurological disorders.</p>

<p>Duke NeuroCare was founded in the fall of 2011 and has grown and expanded a great deal since its founding. Some of the school and local community organizations we have worked with include, but are not limited to:</p>

<ul>
	<li>Central Regional Hospital</li>
	<li>Bridge II Sports</li>
	<li>Duke Counseling and Psychological Services (CAPS)</li>
	<li>Duke Psychiatric Department</li>
	<li>Duke Institute for Brain Sciences (DIBS)</li>
	<li>Duke Neuroscience Majors Union (NMU)</li>
	<li>Durham Academy</li>
	<li>E.K. Powe Elementary School</li>
</ul>

<p>NeuroCare has recently started a branch at UNC Chapel Hill as well! In November of 2012, Duke-UNC NeuroCare was awarded the Kenan Biddle Grant, valued at $5,000 for the two clubs to use for future community and school events. Both clubs are incredibly grateful to have received the grant and are looking forward to collaborating on inter-school events in the upcoming year!</p>

<img alt="Minali and Brain" src="/assets/minali_brain.jpg" />
<% end %>