<div class="stats">
  <a href="<%= signed_up_users_event_path(@event) %>">
    <strong id="following" class="stat">
      <%= @event.signed_up_users.count %>
    </strong>
    signed up
  </a>
</div>