<%= form_for(@event.registrations.build(signed_up_event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :signed_up_event_id %></div>
  <%= f.submit "Signup", class: "btn btn-large btn-inverse" %>
<% end %>