<footer class="footer">
  <small>
    <a href="#">Duke Neurocare</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Events",   events_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
    </ul>
  </nav>
</footer>